.avatar__img {
    top: 63%;
    width: 95%;
}

.avatar__img:hover {
    width: 97%;
}

body {
    font-weight: 400;
    color: #222;
}

.mainHeading {
    color: #222;
}

.mainHeading span {
    color: #111;
}
